# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.bundle
.bundle/*
db/*.sqlite3
log/*.log
tmp/*
tmp/**/*
doc/api
doc/app
*.swp
*~
.idea
.idea/*
.DS_Store
.sass-cache/*
vendor/ruby
